<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <script src="https://cdn.tailwindcss.com"></script>
  <div class="container">
    <nav>
      <h1>Pinterest</h1>
      <div>
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a  href="/logout" class="w-32 flex justify-center items-center bg-red-800 rounded-2xl">Logout</a>
      </div>
    </nav>
    <div class="cards flex flex-col mt-10 justify-center items-center gap-2 flex-wrap">
      <% posts.forEach(function(post){ %>
        <div class="card w-80 h-60 border-red-900 border-2 p-2" style="width: 18rem;">
          <h1><%= post.user.username%></h1>
          <img src="/images/uploads/<%= post.image %>" class="card-img-top h-4/5" alt="...">
          <div class="card-body">
            <p class="card-text text-center"><%= post.postText %></p>
          </div>
        </div>
        <% }) %>
     
    </div>
  </div>
</body>
</html>